.button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.button_theme_add {
    color: var(--main-color);
    font-size: 2rem;

    padding: 1.7rem 2.5rem;
    border: 0.2rem solid var(--main-color);
    border-radius: 4.5rem;
}

.button_theme_add:hover {
    color: var(--font-main-color);
    background-color: var(--main-color);
}

.header-layout__button {
    margin-left: auto;
}

.button_theme_interact {
    font-size: 1.8rem;
    color: var(--font-color-varian1);
}

.button_theme_plus {
    color: var(--font-color-varian1);
    font-size: 3.2rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
}

.button_theme_modal {
    color: var(--font-main-color);
    font-size: 2rem;
}

.button_theme_modal:disabled,
.button_theme_modal:disabled:hover {
    cursor: default;
    color: var(--font-color-varian2);
}

.button_theme_interact:hover,  
.button_theme_plus:hover,
.button_theme_modal:hover {
  color: var(--main-color);
}