.main-layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    overflow: hidden;

    border-radius: 1rem;
    box-shadow: 0 0.5rem 5.5rem 0 rgba(0, 0, 0, 0.2); 

    /* не очень хорошая вещь для блока */
    margin: 3.5rem 0; 
}