.modal-window {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 999;

    background: transparent;
    transition: background 0.15s ease;
}

.modal-window_state_show {
    background: rgba(32, 28, 45, 0.85);
}