.tag-item {
    cursor: default;
    padding: 0.5rem 1rem;
    border-radius: 4.5rem;
    
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    
    font-size: 1.8rem;

    display: flex;
    align-items: center;

}

.tag-item__name {
    color: var(--primary-color);
}

.tag-item__button {
    width: 3rem;
    height: 3rem;
    border: 0.2rem solid white;
    border-radius: 100%;

    cursor: pointer;

    line-height: 2.45rem;

    margin-left: 2rem;
    padding-left: 0;
    padding-right: 0;

    background: transparent;

    color: var(--primary-color);
}