/*-------------------------------
------------- FONTS -------------
-------------------------------*/

@font-face {
  font-family: 'WiGuru';
  src: url('../fonts/WiGuru/WiGuru.eot');
  src: url('../fonts/WiGuru/WiGuru.eot?#iefix') format('embedded-opentype'),
       url('../fonts/WiGuru/WiGuru.woff') format('woff'),
       url('../fonts/WiGuru/WiGuru.woff2') format('woff2'),
       url('../fonts/WiGuru/WiGuru.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Bold.eot');
  src: url('../fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Bold.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto.eot');
  src: url('../fonts/Roboto/Roboto.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto.woff') format('woff'),
       url('../fonts/Roboto/Roboto.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto/Roboto-Italic.eot');
  src: url('../fonts/Roboto/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto/Roboto-Italic.woff') format('woff'),
       url('../fonts/Roboto/Roboto-Italic.woff2') format('woff2'),
       url('../fonts/Roboto/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/*-------------------------------
----------- VARIABLES -----------
-------------------------------*/

:root {
  --primary-color: #201b2d;
  --secondary-color: #3a1323;

  --main-color: #c91450;

  --font-color-primary: white;
  --font-color-secondary: #3f3746;
  
  --font-color-varian1: #664455;
  --font-color-varian2: #60505d;
}

/*-------------------------------
-------- GENERAL STYLES ---------
-------------------------------*/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0 7rem;

  font-size: 1.4rem;
  font-family: "Roboto";
  color: var(--font-color-primary);

  background:  var(--secondary-color);
  background: linear-gradient(-65deg, var(--secondary-color) 25%, 
                                            var(--primary-color) 75%);
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

*, *::after, *::before {
  box-sizing: border-box;

  /* border: 0.1rem solid yellow; */
}

.container {
  margin: 0 auto;
  max-width: 1070px;
  padding: 0 15px;

  overflow: hidden;
  position: relative;
}


